---
const {features, title, url, id, backGroundColor} = Astro.props
---
<div class="item">
  <h3>
    {features}
  </h3>
  <p class="title">
    サイト名:{title}
  </p>
  <div class="linkWrapper">
    <a href={url} class="jumpLink">
      サイトへ行く
    </a>
    <a href={`/detail/${id}`} class="jumpDetail">
      詳細
    </a>
  </div>
</div>

<style define:vars={{ backGroundColor }}>
.item {
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
  background-color: var(--backGroundColor);
	box-shadow: 1px 1px 2px #dad5d5;
}

/* .item-wrapper > .item:nth-child(4) {
	background-color: #9BF6FF;
} */

.title {
	font-size: 11px;
}

.item-description {
	font-size: 13px;
}

.linkWrapper {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.jumpLink, .jumpDetail {
	background-color: #ffffff70;
	border: solid 1px #ffffff70;
	text-decoration: none;
	color: black;
	/* margin: 10px 20px; */
	padding: 3px;
	font-size: 10px;
	/* box-shadowの値を使いまわしたい */
	/* box-shadow: 1px 1px 2px #8b8b8b; */
}

.jumpLink {
	margin-right: 5px;
}

.jumpDetail {
	margin-left: 5px;
}

.jumpLink:active, .jumpDetail:active {
	box-shadow: 1px 1px 2px #dad5d5 inset;
}
</style>