---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Header from "../../components/Header.astro"
import { client } from "../../library/microcms"

export function getStaticPaths() {
  return [{
    // ここはデータを取ってきて動的に変更できるようにした方が良い
    // と思ったけど自作と他作の二つならいらない気がしてきた(多対一のタグでは必要だと思う)
    // でもIDは環境変数に隠した方が良いかも
    params: {
      creator: '90cm8jj2mkl'
    }
  }];
}

// creatorは微妙だから文言を変える
const { creator } = Astro.params;
const items = await client.get({
 endpoint: 'webcontents', //記事APIのエンドポイント
 queries: { filters: `creators[equals]${creator}`} //カテゴリ用スキーマ名を指定
});

---
<BaseLayout>
  <Header />
  <h1>creatorsのテストページ</h1>
  <ul>
    全{items.totalCount}件
    {
      items.contents.map((item: any) => (
        <li>
          {item.title}
        </li>
      ))
    }
  </ul>
</BaseLayout>