---
---
<div class="description-wrapper">
  <p class="description-header">説明</p>
  <p class="description-content">
    タスクごとに期限を設定できるToDoアプリです。
    <br>
    <br>
    指定した期限をクリアしたらヘッダーの色が変わります。
    クリアできなければリセットされます。
  </p>
</div>

<style>
.description-wrapper {
  text-align: left;
  margin-top: 20px;
}

.description-header {
  background-color: #9BF6FF;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
}

.description-content {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}
</style>