---
const { siteDescription } = Astro.props
---
<div class="description-wrapper">
  <p class="description-header">説明</p>
  <p class="description-content">
    { siteDescription }
  </p>
  <div class="return-top">
    <a href="/">
      ←TOPへ
    </a>
  </div>
</div>

<style>
.description-wrapper {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-header {
  background-color: #9BF6FF;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
}

.description-content {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.return-top {
  text-align: center;
}

.return-top > a {
  background-color: #D9D9D9;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
}
</style>