---
const { siteFeatures, siteTitle, shortDescription, siteUrl, backGroundColor } = Astro.props
---
<div class="top-wrapper">
  <h1 class="display-name">
    { siteFeatures }
  </h1>
  <p class="true-title">
    サイト名: { siteTitle }
  </p>
  <div class="">

  </div>
  <p class="light-description">
    <!-- 軽い概要 -->
    { shortDescription }
  </p>
  <a class="jump-link-btn" href={siteUrl}>
    サイトへ行く
  </a>
</div>

<style define:vars={{ backGroundColor }}>
.top-wrapper {
  background-color: var(--backGroundColor);
  padding: 20px 10px;
}

.display-name {
  margin-bottom: 20px;
}

.true-title {
  margin-bottom: 10px;

}

.light-description {
  font-size: 20px;
  margin-bottom: 20px;
}

.jump-link-btn {
  /* background-color: #D9D9D9; */
  background-color: #ffffff70;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin-top: 10px;
}
</style>