---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Header from "../../components/Header.astro"
import TagWrapper from "../../components/TagWrapper.astro"


---
<BaseLayout>
  <Header />
  <h1>タグクラウド</h1>
  <h2>※ここはもういらないかも</h2>
  <TagWrapper />
</BaseLayout>