---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "アプリ詳細ぺージ"
import TopSection from '../components/detail/TopSection.astro';
// import ImageSlider from '../components/detail/ImageSlider.astro'
import DescriptionSection from '../components/detail/DescriptionSection.astro';
---
<BaseLayout pageTitle={pageTitle}>
<div class="container">

  <TopSection />
  <!-- <ImageSlider /> -->
  <DescriptionSection />

</div>
</BaseLayout>

<!-- flex-boxのチートシート -->
<!-- https://www.webcreatorbox.com/blog/css-flexbox-cheat-sheet -->
<style>
.container {
  padding: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
</style>

