---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "アプリ詳細ぺージ"
import TopSection from '../components/detail/TopSection.astro';

// import Splidejs from '../components/detail/slider/splide/Splidejs.astro'
// import ImageSlider from '../components/detail/slider/swiper/ImageSlider';
// import Swiperjs from '../components/detail/slider/swiper/Swiper.astro'

import ImageList from '../components/detail/popup/ImageList.astro';

import DescriptionSection from '../components/detail/DescriptionSection.astro';
---
<BaseLayout pageTitle={pageTitle}>
<div class="container">

  <TopSection />
  <!-- <Splidejs /> -->
  <!-- <Swiperjs /> -->
  <!-- <ImageSlider /> -->
  <ImageList />
  <DescriptionSection />

</div>
</BaseLayout>

<!-- flex-boxのチートシート -->
<!-- https://www.webcreatorbox.com/blog/css-flexbox-cheat-sheet -->
<style>
.container {
  padding: 10px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}
</style>

