---
---
<div class="catch-copy">
	<h2>
		あなたの生活をちょっと便利に
		<br>
		手作りWebツールをご紹介
	</h2>
</div>

<style>
	.catch-copy {
		padding: 15px 10px;
		/* font-weight: lighter; */
	}

	.catch-copy > h2 {
		font-size: 20px;
	}
</style>