---
---
<div class="catch-copy">
	<h2>
		あなたの日常を手助けする
		<br>
		<!-- 手作りって文言はいらないかも -->
		サイト・アプリをご紹介！
	</h2>
</div>

<style>
	.catch-copy {
		/* padding: 15px 10px; */
		padding: 15px 0;
	}

	.catch-copy > h2 {
		font-size: 20px;
	}
</style>