---
// const {siteTitle} = Astro.props;
---
<header class="header">
  <!-- <h1 class="title">{ siteTitle }</h1> -->
   <h1 class="title">
    <a href="/">
      HandyHacks
    </a>
  </h1>
  <ul class="menu">
    <!-- メニューは必要無いかも -->
    <li>
      <a href="/search">
        検索
      </a>
    </li>
    <li>
      <a href="/tags">
        タグ
      </a>
    </li>
    <!-- 以下のli内をaタグで囲んで -->
    <!-- それぞれのタグが付いているコンテンツを表示する -->
    <!-- ソートは後で -->
    <li>
      <!-- href内は後で変えた方が良いと思う -->
      <!-- 動的に取得するか環境変数に保存するか迷う -->
      <!-- なぜなら2つしかないから -->
      <a href="/creators/myself">
        自作
      </a>
    </li>
    <li>
      <a href="/creators/others">
        他作
      </a>
    </li>
  </ul>
</header>

<style>
  .header {
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: space-between;
    /* paddingは上下のみ */
    padding: 10px 0;
  }

  .title {
    /* color: black; */
    background: #FFE293;
    font-size: 20px;
    padding: 10px 15px;
    /* box-shadowの値を使いまわしたい */
		box-shadow: 1px 1px 1px #8b8b8b;
  }

  .title > a {
    text-decoration: none;
    color: black;
  }

  .menu {
    display: flex;
  }

  .menu > li {
    list-style: none;
    font-size: 13px;
    width: auto;
    padding: 5px 5px;
  }

  .menu > li > a {
    text-decoration: none;
    color: black;
  }
</style>