---
const {siteTitle} = Astro.props;
---
<header class="header">
  <h1 class="title">{ siteTitle }</h1>
  <ul class="menu">
    <!-- メニューは必要無いかも -->
    <li>作品一覧</li>
    <li>プロフィール</li>
  </ul>
</header>

<style>
  .header {
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-content: space-between;
    /* paddingは上下のみ */
    padding: 10px 0;
  }

  .title {
    color: black;
    background: #FFE293;
    font-size: 20px;
    padding: 10px 15px;
    /* box-shadowの値を使いまわしたい */
		box-shadow: 1px 1px 1px #8b8b8b;
  }

  .menu {
    display: flex;
  }

  .menu > li {
    list-style: none;
    font-size: 13px;
    width: auto;
    padding: 5px 5px;
  }
</style>