---
import profileImage from '../image/profile/profileIcon.png'
---
<div class="profile-wrapper">
	<div class="profile">
		<div class="image-wrapper">
			<img src={profileImage.src} alt="">
		</div>
		<div class="profile-description">
			<h3 class="profile-title">このサイトを作った人</h3>
			<p class="profile-description-content">
				ツール系のWebアプリを作っています。
				現在20個のWebアプリと3つの拡張機能を公開中。
			</p>
			<div class="profile-sns-wrapper">
				<a href="#">X</a>
				<a href="#">Youtube</a>
				<a href="#">Instagram</a>
				<a href="#">TikTok</a>
			</div>

			<p class="mini-copy">ライフハック動画配信中♪</p>
		</div>		
	</div>

</div>

<style>
	.profile-wrapper {
		padding: 10px 0;
	}

	.profile {
		background-color: #9BF6FF;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		padding: 10px;
	}

	.image-wrapper > img {
		/* height: 100%;
		width: 100%; */
		height: 100px;
	}

	.profile-description {
		text-align: left;
		margin-left: 10px;
	}

	.profile-title {
		margin-bottom: 10px;
		font-size: 15px;
	}

	.profile-description-content {
		margin-bottom: 10px;
		font-size: 13px;
	}

	.profile-sns-wrapper {
		text-align: center;
	}

	.mini-copy {
		text-align: center;
		font-size: 15px;
	}
</style>