/* SearchButtons */

.formWrapper {
	/* marginはとりあえずの値 */
	margin: 30px auto;
}

.formLabel {
	/* labelには効かないっぽい */
	margin-bottom: 3px;
}

.searchBar {
	width: 100%;
	/* heightはとりあえずの値 */
	height: 35px;
	border: 1px solid black;
	border-radius: 4px;
}

.searchBtn {
	width: 100%;
	background: transparent;
	border: 0.5px solid transparent;
	font-size: 15px;
	padding: 5px;
}

/* BlogSearch */
.item {
	margin: 5px 5px 5px;
	padding: 5px 5px 5px;
	box-shadow: 1px 1px 2px #dad5d5;
	/* background-color: #9BF6FF; */
}

.title {
	font-size: 11px;
}

.item-description {
	font-size: 13px;
}

.linkWrapper {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

.jumpLink, .jumpDetail {
	background-color: #ffffff70;
	border: solid 1px #ffffff70;
	text-decoration: none;
	color: black;
	/* margin: 10px 20px; */
	padding: 3px;
	font-size: 10px;
	/* box-shadowの値を使いまわしたい */
	/* box-shadow: 1px 1px 2px #8b8b8b; */
}

.jumpLink {
	margin-right: 5px;
}

.jumpDetail {
	margin-left: 5px;
}

.jumpLink:active, .jumpDetail:active {
	box-shadow: 1px 1px 2px #dad5d5 inset;
}